.page-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.loading-contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.page-title {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #201F1E;
}
@media screen and (max-width: 48em) {
  .page-title {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

.grid {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  border: 0.0625rem solid #C7E0F4;
  border-radius: 0.125rem;
  overflow: auto;
}
.grid ::deep .id-col {
  width: 90px;
}
.grid ::deep .bitdatagrid th .col-options-button {
  cursor: help;
}

::deep table {
  min-width: 100%;
  border-spacing: 0;
}

::deep thead {
  height: 2.6875rem;
  background-color: #EFF6FC;
}

::deep tr {
  height: 2.6875rem;
}

::deep th {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #201F1E;
  padding: 0 0.75rem;
}

::deep td {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #605E5C;
  border-top: 0.0625rem solid #E1DFDD;
}

::deep tr td:first-child {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.75rem;
}

::deep .col-options-button:hover {
  background-color: transparent;
}

::deep .col-title:hover {
  background-color: transparent !important;
}

::deep .product-search-box {
  width: 100%;
  max-width: 18.75rem;
  margin-bottom: 1.5rem;
}

::deep th:nth-child(2) .col-options-button {
  background-image: none;
  cursor: pointer;
}
::deep th:nth-child(2) .col-options-button:before {
  display: inline-block;
  font-family: "Fabric MDL2 Assets";
  font-style: normal;
  font-weight: normal;
  content: "\e721";
}

::deep .bitdatagrid-paginator {
  height: 2.6875rem;
  margin-top: 0;
  border-top: 0.0625rem solid #E1DFDD;
  padding: 0 0.75rem;
  font-size: 0.875rem;
}
